@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

@theme {
    --color-green: #3E7651;
    --color-textgrey: #454544;
    --color-linkgrey: #A7A69A;
    --color-black: #111111;
    --shadow-card: 0px 165px 99px 0px #ACADAA0D;
    --gradient-hero: linear-gradient(180deg, #ECF1EE 0%, #FAFAFA 131.85%);
    --gradinet-box: linear-gradient(90deg, #ECF1EE -17.27%, #FAFAFA 100%);
    --shadow-box: 0px 293px 117px rgba(172, 173, 170, 0.01), 0px 165px 99px rgba(172, 173, 170, 0.05);

}

.black {
    color: var(--color-black);
}

.green {
    color: var(--color-green);
}

.bggreen {
    background-color: var(--color-green);
}

.textgrey {
    color: var(--color-textgrey);
}

.linkgrey {
    color: var(--color-linkgrey);
}


.herogradient {
    background: var(--gradient-hero);
}

.boxgradient {
    background: var(--gradinet-box);
}

.after-img::after {
    background-image: url(assets/png/greyflower.png);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.react-tel-input .flag {
    display: none !important;
}

.react-tel-input .selected-flag {
    width: auto !important;
    padding-left: 0 !important;
}

.react-tel-input .selected-flag .arrow {
    margin-left: 4px !important;
}