@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-green: #3E7651;
    --color-textgrey: #454544;
    --color-linkgrey: #A7A69A;
    --color-black: #111111;
    --shadow-card: 0px 165px 99px 0px #ACADAA0D;
    --gradient-hero: linear-gradient(180deg, #ECF1EE 0%, #FAFAFA 131.85%);
}

.jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.black {
    color: var(--color-black);
}

.green {
    color: var(--color-green);
}

.bggreen {
    background-color: var(--color-green);
}

.textgrey {
    color: var(--color-textgrey);
}

.linkgrey {
    color: var(--color-linkgrey);
}


.herogradient {
    background: var(--gradient-hero);
}